/* Button to enter presentation mode */

#rendered-Q-wrapper {
    width: 100%;
    position: relative;
}

#fullscreen-mode-button {
    --button-height: 1.4vw;
    position: absolute;
    top: calc((-1) * var(--button-height) + 0.1vw);
    height: var(--button-height);
    width: 9.5vw;
    font-size: 1.1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: whitesmoke;
    background-color: rgb(60, 80, 147);
    border-radius: 0.2vw;
    border: 0.1vw solid rgb(12, 103, 194);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 0.1vw;
}

#fullscreen-mode-button:hover {
    cursor: pointer;
    background-color: rgb(75, 97, 169);
    border-width: 0.15vw;
    font-size: 1.085vw;
}

/* Presentation banner styles */

#presenation-content {
    position: fixed;
    top: 0vw;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.341);
    z-index: 99;
}

#presenation-banner {
    --banner-width: 70vw;
    position: relative;
    width: var(--banner-width);
    height: 95vh;
    background-color: whitesmoke;
    border-radius: 1vw;
    border: 0.1vw solid rgb(35, 34, 34);
}

#fullscreen-Q-A-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    height: 100%;
    width: 65%;
    left: calc((70vw - 0.65 * 70vw) * 0.5);
}

#fullscreen-question {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 11%;
    width: 120%;
    border-bottom: 0.1vw solid black;
    font-size: 3.75vw;
    margin-top: 0.3vw;
    overflow-y: hidden;
}

#fullscreen-answer-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    margin-bottom: 0.1vw;
}

#answer-label {
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 2vw;
    color: rgb(11, 5, 5);
}

#fullscreen-answer {
    display: inline;
    width: 12vw;
    height: 3.75vw;
    border: 0.1vw solid black;
    margin-left: 0.5vw;
    margin-right: 1vw;
    border-radius: 0.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(11, 5, 5, 0);
    font-size: 3.3vw;
    overflow-y: hidden;

    background: repeating-linear-gradient(
    45deg,
    #dfddddaf,
    #a7a6a6b6 5%,
    #838282b8 10%,
    #7a7979a5 15%
  );
}

#show-hide-button {
    width: 4.5vw;
    height: 2.25vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.25vw;
    color: whitesmoke;
    background-color: rgb(48, 119, 48);
    border: 0.1vw solid rgb(3, 91, 3);
    border-radius: 0.2vw;
}

#show-hide-button:hover {
    cursor: pointer;
    background-color: rgb(58, 135, 58);
    border-width: 0.15vw;
    font-size: 1.225vw;
} 

#show-hide-button[data-status="hide"] {
    background-color: rgb(204, 87, 44);
    border-color: rgb(200, 59, 8);
}

#show-hide-button[data-status="hide"]:hover {
    background-color: rgb(215, 97, 54);
}

#fullscreen-exit-button {
    position: absolute;
    top: 0.7vw;
    right: 0.7vw;
    width: 4vw;
    height: 1.9vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: whitesmoke;
    font-size: 1.1vw;
    background-color: rgb(154, 51, 51);
    border: 0.1vw solid rgb(109, 7, 7);
    border-radius: 0.25vw;
}

#fullscreen-exit-button:hover {
    cursor: pointer;
    background-color: rgb(180, 65, 65);
    border-width: 0.15vw;
    font-size: 1.08vw;
}

#fullscreen-regen-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 2.5vh;
    left: 2.5vw;
    color: whitesmoke;
    font-weight: 600;
    font-size: 3.25vw;
    width: 3.7vw;
    height: 3.7vw;
    background-color: rgb(65, 168, 68);
    border: 0.15vw solid rgb(22, 91, 3);
    border-radius: 0.5vw;
}

#fullscreen-regen-button:hover {
    cursor: pointer;
    background-color: rgb(84, 186, 87);
    border-width: 0.17vw;
    font-size: 3.2vw;
}

/* Special style accomodations for Q and A boxes */

#fullscreen-answer[data-special-styles='genTrigEx'] {
    height: 6vw;
    margin-bottom: 1.7vw;
}

#fullscreen-answer[data-special-styles='genMulDiv'] {
    height: 6vw;
    margin-bottom: 1.7vw;
}

#fullscreen-answer[data-special-styles='genSimRad'] {
    height: 4.75vw;
    margin-bottom: 0.65vw;
}

#fullscreen-answer[data-special-styles='genComArith'] {
    width: 14vw;
    height: 4.75vw;
    margin-bottom: 0.65vw;
}

#fullscreen-question[data-special-styles='genComArith'] {
    height: 15%;
}

#fullscreen-question[data-special-styles='genPolArith'] {
    height: 12.5%;
}

#fullscreen-answer[data-special-styles='genPolArith'] {
    width: 22vw;
    height: 4.75vw;
    margin-bottom: 0.65vw;
}

#fullscreen-answer[data-special-styles='genFacQuad'] {
    width: 24vw;
    height: 6vw;
    margin-bottom: 1.7vw;
}

#fullscreen-question[data-special-styles='genSysEqs'] {
    height: 18%;
}

#fullscreen-answer[data-special-styles='genSysEqs'] {
    width: 14vw;
    height: 4.5vw;
    margin-bottom: 0.4vw;
}

#fullscreen-answer[data-special-styles='genLinEq'] {
    width: 14vw;
    height: 5.5vw;
    margin-bottom: 1.2vw;
}

#fullscreen-question[data-special-styles='genRatEx'] {
    height: 15%;
}

#fullscreen-answer[data-special-styles='genRatEx'] {
    width: 24vw;
    height: 7vw;
    margin-bottom: 2.9vw;
}

@media (max-width: 1700px) { /* Ipads and Small Laptops */
    #fullscreen-mode-button {
        --button-height: 1.8vw;
        font-size: 1.37vw;
        width: 11.5vw;
    }

    #fullscreen-mode-button:hover {
        font-size: 1.37vw;
        background-color: rgb(60, 80, 147);
    }

    #fullscreen-regen-button {
        width: 5vw;
        height: 5vw;
        font-size: 4.5vw;
        border-width: 0.2vw;
    }
    
    #fullscreen-regen-button:hover {
        font-size: 4.5vw;
        border-width: 0.2vw;
        background-color: rgb(65, 168, 68);
    }

    #fullscreen-exit-button {
        width: 6vw;
        height: 2.6vw;
        font-size: 1.6vw;
        border-width: 0.2vw;
    }
    
    #fullscreen-exit-button:hover {
        font-size: 1.6vw;
        border-width: 0.2vw;
        background-color: rgb(154, 51, 51);
    }

    #show-hide-button {
        width: 6.8vw;
        height: 3.2vw;
        font-size: 1.85vw;
        border-width: 0.2vw;
        border-radius: 0.25vw;
    }
    
    #show-hide-button:hover {
        font-size: 1.85vw;
        border-width: 0.2vw;
        background-color: rgb(48, 119, 48);
    } 
    
    #show-hide-button[data-status="hide"]:hover {
        background-color: rgb(204, 87, 44);
    }

    #answer-label {
        font-size: 2.5vw;
    }
}

@media (max-width: 900px) {
    #rendered-Q-wrapper {
        width: fit-content;
    }

    #fullscreen-mode-button {
        --button-height: 4.6vw;
        font-size: 3.6vw;
        width: 32vw;
        top: calc((-1) * var(--button-height) + 0.1vw + 2vw);
        left: 2vw;
        border-radius: 0.5vw;
        
    }

    #fullscreen-mode-button:hover {
        font-size: 3.6vw;
        background-color: rgb(60, 80, 147);
    }

    #presenation-content {
        position: fixed;
        z-index: 9999;
        top: 0vw;
    }

    #presenation-banner {
        --banner-width: 90vw;
        overflow-y: scroll;
        border-width: 0.75vw;
        border-radius: 2.3vw;
        height: 88vh;
    }

    #fullscreen-question {
        margin-top: 18vw;
        border-top: 0.1vw solid black;
        width: 140%;
        min-height: 35px; /* mainly set for zoom purposes (so the prompt doesn't shrink too small at very high zoom) */
    }

    #fullscreen-regen-button {
        width: 14vw;
        height: 14vw;
        top: 2vw;
        left: calc(0.5 * 90vw - 14vw * 0.5);
        font-size: 14vw;
        border-radius: 1.6vw;
        border-width: 0.65vw;
        z-index: 99999;
        padding-bottom: 0.6vw;
        font-weight: bolder;
        line-height: 0.7;
    }

    #fullscreen-regen-button:hover {
        background-color: rgb(65, 168, 68);
        font-size: 14vw;
        border-width: 0.65vw;
    }

    #fullscreen-Q-A-wrapper {
        left: calc((90vw - 0.65 * 90vw) * 0.5);
    }

    #fullscreen-exit-button {
        top: 1.5vw;
        right: 1.5vw;
        width: 18vw;
        height: 8.3vw;
        font-size: 6vw;
        border-radius: 1.5vw;
        border-width: 0.65vw;
    }
    
    #fullscreen-exit-button:hover {
        font-size: 6vw;
        border-width: 0.65vw;
        background-color: rgb(154, 51, 51);
    }

    #fullscreen-answer-wrapper {
        width: 140%;
        height: fit-content;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2vw;
    }

    #answer-label {
        font-size: 6.5vw;
        line-height: 0.9;
    }
    
    #fullscreen-answer {
        width: 65vw;
        height: 24vw;
        margin-top: 1vw;
        border-radius: 2vw;
        border-width: 0.55vw;
    }

    #fullscreen-answer[data-special-styles] { /* target all the mode-based style adjustments (reset them all to the same thing) */
        width: 65vw;
        height: 24vw;
    }
    
    #show-hide-button {
        margin-top: 4vw;
        width: 19vw;
        height: 8.5vw;
        font-size: 5vw;
        border-radius: 1vw;
        border-width: 0.65vw;
    }
    
    #show-hide-button:hover {
        font-size: 5vw;
        border-width: 0.65vw;
    } 
}
