#settings-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.4vw;
}

#randomize-all-tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.15vw;
  width: 7.5vw;
  min-width: 110px;
  height: 1.3vw;
  min-height: 20px;
  font-size: clamp(13px, 0.9vw, 0.9vw);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  color: whitesmoke;
  background-color: rgb(172, 84, 84);
  border: 0.1vw solid maroon;
  border-radius: 0.1vw;
  margin-top: 0.3vw;
}

#randomize-all-checkbox {
  margin-right: 0.15vw;
  width: 1vw;
  height: 1vw;
  min-width: 16px;
  min-height: 16px;
}

#randomize-all-checkbox:hover {
  cursor: pointer;
}

#settings-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: fit-content;
  height: 12.8784375vw;
  background-color: rgb(52, 64, 81);
  border: 0.25vw solid rgb(203, 182, 151);
  border-radius: 0.4vw;
  overflow-y: auto;
  padding: 1vw;
  padding-top: 1.25vw;
}

#settings-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns per row */
  gap: 5vw;
  height: fit-content;
}

.setting-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 12.5vw;
  height: 12.5vw;
  background-color: rgb(236, 236, 236);
  border: 0.1vw solid grey;
  border-radius: calc(0.05 * 12.5vw);
  padding-left: 0.1vw;
  padding-right: 0.1vw;
}

.settings-label {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3vw;
  font-weight: 600;
  margin-top: 0.3vw;
  color: rgb(10, 7, 25);
  text-decoration: underline;
  text-align: center;
  margin-bottom: 0;
}

.settings-text-box {
  width: 3vw;
  height: 3vw;
  font-size: 2.3vw;
  text-align: center;
  outline: none;
  border: 0.1vw solid rgb(20, 20, 20);
  border-radius: 0.1vw;
  font-family: monospace;
  font-weight: 400;
}

.settings-text-box:focus {
  border: 0.12vw solid #1A73E8;
}

/* Settings tooltip styles */

.settings-info-button {
width: 1.3vw;
height: 1.3vw;
font-size: 1.1vw;
font-weight: 600;
background-color: rgb(255, 166, 0);
color: white;
margin-bottom: 0.2vw;
border: none;
border-radius: 0.1vw;
text-align: center;
position: relative;
}

.settings-info-button:hover,
.settings-info-button:focus {
cursor: default;
outline: 0.05vw solid darkblue;
}

.settings-info-button::before {
content: attr(data-tooltip);
position: absolute;
bottom: calc(100% + 0.65vw); /* Position tooltip above the button and arrow */
left: 50%;
transform: translateX(-50%);
width: 11vw; /* Fixed width, allows height to grow dynamically */
padding: 0.5vw;
background-color: #333;
color: whitesmoke;
border-radius: 0.3vw;
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 1vw;
height: max-content; /* Allows text wrapping */
white-space: normal;
opacity: 0;
pointer-events: none;
transition: opacity 25ms ease-in-out;
z-index: 10;
}

.settings-info-button:hover::before {
opacity: 1; /* Makes the tooltip visible on hover */
}

.settings-info-button::after {
content: '';
position: absolute;
bottom: calc(100% + 0.2vw); /* Place arrow just below the tooltip box */
left: 50%;
transform: translateX(-50%);
border-left: 0.5vw solid transparent;
border-right: 0.5vw solid transparent;
border-top: 0.5vw solid #333; /* Matches tooltip background */
opacity: 0;
pointer-events: none;
transition: opacity 25ms ease-in-out;
}

.settings-info-button:hover::after {
opacity: 1; /* Makes the arrow visible on hover */
}

/* Radio button styles */

.radio-buttons {
width: 1vw;
height: 1vw;
min-width: 1vw;
min-height: 1vw;
margin-right: 0.5vw;
}

.radio-buttons:hover {
cursor: pointer;
}

.radio-button-label {
display: inline;
font-size: 1vw;
font-family: monospace;
overflow-x: auto;
overflow-y: hidden;
width: 100%;
}

.outer-radio-button-wrapper {
overflow-y: auto;
overflow-x: hidden;
padding-top: 0.4vw;
padding-bottom: 0.4vw;
max-width: 100%;
}

/* Scroll bar if the settings overflow a settings box vertically */
.outer-radio-button-wrapper::-webkit-scrollbar {
width: 0.4vw; /* Scrollbar width */
}

.outer-radio-button-wrapper::-webkit-scrollbar-thumb {
background-color: #555; /* Dark gray thumb */
border-radius: 0.2vw;
}

.outer-radio-button-wrapper::-webkit-scrollbar-thumb:hover {
background-color: #666; /* Slightly lighter on hover */
}

.outer-radio-button-wrapper::-webkit-scrollbar-track {
background: #2222223d; /* Dark background for contrast */
border-radius: 0.4vw; /* Round the track ends */
margin: 0.4vw 0; /* Prevents the track from extending fully */
}

/* Scroll bar if the settings overflow a settings box horizontally */
.radio-button-label::-webkit-scrollbar {
height: 0.4vw; /* Scrollbar width */
min-height: 7.5px;
}

.radio-button-label::-webkit-scrollbar-thumb {
background-color: #777777; /* Dark gray thumb */
border-radius: 0.2vw;
}

.radio-button-label::-webkit-scrollbar-thumb:hover {
background-color: #535353; /* Slightly lighter on hover */
}

.radio-button-label::-webkit-scrollbar-track {
background: #5c5c5c3d; /* Dark background for contrast */
border-radius: 0.4vw; /* Round the track ends */
margin: 0.4vw 0; /* Prevents the track from extending fully */
}

.inner-radio-button-wrapper {
display: flex;
flex-direction: row;
align-items: center;
margin-bottom: 1.7vw; /* This is now overridden by the JS in the insertSettings function (dynamically calculated margin) */
}

.last-radio-option {
margin-bottom: 0;
}

/* number range styles */

#number-range-wrapper {
font-size: 0.8vw;
font-family: monospace;
}

#solution-point-wrapper {
font-size: 2.5vw;
font-family: monospace;
}

.settings-checkbox-tab {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 6.7vw;
min-width: 110px;
height: 1.3vw;
min-height: 20px;
font-size: clamp(13px, 0.9vw, 0.9vw);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 600;
color: white;
background-color:#585858;
border: 0.1vw solid rgb(68, 67, 67);
border-radius: 0.1vw;
}

.single-settings-checkbox {
margin-right: 0.15vw;
width: 1vw;
height: 1vw;
min-width: 16px;
min-height: 16px;
}

.single-settings-checkbox:hover {
cursor: pointer;
}

.number-range-box {
font-size: 1.8vw;
}

/* Special radio button styles */

.radio-math {
font-size: 1.1vw;
}

.radio-math-big {
font-size: 1.5vw;
}

.radio-sub-label {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 500;
padding-bottom: 0.1vw;
font-size: 1.1vw;
}

@media (max-width: 1700px) { /* Ipads and Small Laptops */
#settings-container {
    height: 21.5vw;
    border-width: 0.4vw;
    border-radius: 0.6vw;
}
  
#settings-form {
    grid-template-columns: repeat(2, 1fr); /* Three columns per row */
    gap: 4vw;
}

.setting-box {
    width: 21vw;
    height: 21vw;
    border-width: 0.2vw;
    border-radius: calc(0.05 * 21vw);
}

.settings-label {
  font-size: 2.1vw;
}

#randomize-all-tab {
  width: 12vw;
  height: 2vw;
  font-size: 1.4vw;
}

#randomize-all-checkbox {
  margin-right: 0.15vw;
  width: 1.5vw;
  height: 1.5vw;
}

.radio-buttons {
  width: 1.8vw;
  height: 1.8vw;
  min-width: 1.8vw;
  min-height: 1.8vw;
}

.radio-button-label {
  font-size: 1.7vw;
}

.settings-text-box {
  width: 5vw;
  height: 5vw;
  font-size: 3.1vw;
  border-width: 0.1vw;
}

.settings-text-box:focus {
  border-width: 0.25vw;
}

.settings-info-button {
  width: 2.3vw;
  height: 2.3vw;
  font-size: 2.1vw;
  margin-bottom: 0.3vw;
  border-radius: 0.15vw;
}

.settings-info-button::before {
  bottom: calc(100% + 0.85vw); /* Position tooltip above the button and arrow */
  width: 18vw; /* Fixed width, allows height to grow dynamically */
  padding: 0.5vw;
  border-radius: 0.5vw;
  font-size: 1.75vw;
}

.settings-info-button::after {
  bottom: calc(100% + 0.2vw); /* Place arrow just below the tooltip box */
  border-left: 0.8vw solid transparent;
  border-right: 0.8vw solid transparent;
  border-top: 0.8vw solid #333; /* Matches tooltip background */
}

.radio-math {
  font-size: 2vw;
}

.radio-math-big {
  font-size: 2.6vw;
}

.radio-sub-label {
  font-size: 1.85vw;
  padding-bottom: 0.17vw;
}

#number-range-wrapper {
  font-size: 1.2vw;
}

.settings-checkbox-tab {
  width: 9.5vw;
  height: 1.8vw;
  font-size: 1.4vw;
}

.single-settings-checkbox {
  width: 1.3vw;
  height: 1.3vw;
}
}

@media (max-width: 900px) {
#settings-container {
  height: 110vw;
  border-width: 0.4vw;
  border-radius: 1.5vw;
}

#settings-form {
  grid-template-columns: repeat(1, 1fr); /* Three columns per row */
  gap: 4vw;
}

.setting-box {
  width: 81vw;
  height: 81vw;
  border-width: 0.2vw;
  border-radius: calc(0.05 * 81vw);
  margin: 2vw;
  margin-top: 2.5vw;
  margin-bottom: 2.5vw;
}

.settings-label {
margin-top: 0.5vw;
font-size: 8vw;
margin-bottom: 2.5vw;
}

#randomize-all-tab {
width: 35.5vw;
height: 4.7vw;
font-size: 4vw;
border-radius: 0.5vw;
}

#randomize-all-checkbox {
margin-right: 0.75vw;
width: 3.8vw;
height: 3.8vw;
}

.radio-buttons {
width: 7vw;
height: 7vw;
min-width: 7vw;
min-height: 7vw;
margin-bottom: 4.5vw;
margin-right: 1.5vw;
}

.radio-button-label {
margin-bottom: 4.5vw;
font-size: 6vw;
}

.settings-text-box {
width: 20vw;
height: 20vw;
font-size: 12.3vw;
border-width: 0.6vw;
}

.number-range-box {
font-size: 11.5vw;
}

.settings-text-box:focus {
border-width: 1vw;
}

.settings-info-button {
width: 7.5vw;
height: 7.5vw;
font-size: 7vw;
margin-bottom: 1vw;
border-radius: 0.5vw;
}

.settings-info-button::before {
bottom: calc(100% + 3.85vw); /* Position tooltip above the button and arrow */
width: 70vw; /* Fixed width, allows height to grow dynamically */
padding: 2.5vw;
border-radius: 2.2vw;
font-size: 6vw;
}

.settings-info-button::after {
bottom: calc(100% + 0.75vw); /* Place arrow just below the tooltip box */
border-left: 4vw solid transparent;
border-right: 4vw solid transparent;
border-top: 4vw solid #333; /* Matches tooltip background */
}

.radio-math {
font-size: 7.5vw;
}

.radio-math-big {
font-size: 9.5vw;
}

.radio-sub-label {
font-size: 7vw;
padding-bottom: 0.7vw;
}

#number-range-wrapper {
font-size: 5vw;
}

#solution-point-wrapper {
font-size: 15vw;
}

.settings-checkbox-tab {
width: 32vw;
height: 5.4vw;
font-size: 4.5vw;
}

.single-settings-checkbox {
width: 4.5vw;
height: 4.5vw;
margin-right: 0.75vw;
}

.outer-radio-button-wrapper::-webkit-scrollbar {
width: 2.4vw; /* Scrollbar width */
}

.outer-radio-button-wrapper::-webkit-scrollbar-thumb {
background-color: #555; /* Dark gray thumb */
border-radius: 2.2vw;
}

.outer-radio-button-wrapper::-webkit-scrollbar-thumb:hover {
background-color: #666; /* Slightly lighter on hover */
}

.outer-radio-button-wrapper::-webkit-scrollbar-track {
background: #2222223d; /* Dark background for contrast */
border-radius: 2.4vw; /* Round the track ends */
margin: 2.4vw 0; /* Prevents the track from extending fully */
}
}
